body {
    background-color: gray;
}

h1 {
	color: #FFF;
	font-weight: bold;
    margin-left: 0px;
	
	text-align: left;
	width: auto;
	padding: 4px;
}

h1 span {
	background-color: lightblue;
	padding: 10px 20px;
	border-radius: 25px;
}

p {
	color: #FFF;
	font-weight: bold;
	font-size: 30px;
	margin-left: 60px;	
	text-align: left;
	padding: 4px;
	position: relative;
	top: 30px;
}

p span {
	background-color: lightblue;
	padding: 10px 20px;
	border-radius: 2px;
}

p button {
	background-color: lightblue;
	padding: 10px 20px;
	border-radius: 2px;
}

.submit-button {
	background-color: lightblue;
	color:#fff;
	font-weight: bold;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 10px;
	border:0;
}                

